version: '2'
services:
  postgres:
    image: postgres:9.5-alpine
    environment:
      - POSTGRES_PASSWORD=postgres
    ports:
      - '127.0.0.1:5432:5432'
  mysql:
    image: mysql:5.7
    environment:
      - MYSQL_ROOT_PASSWORD=rootpass
      - MYSQL_PASSWORD=userpass
      - MYSQL_USER=user
      - MYSQL_DATABASE=db
    ports:
      - "127.0.0.1:3306:3306"
  redis:
    image: redis:4.0-alpine
    ports:
      - "127.0.0.1:6379:6379"
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:6.2.4
    environment:
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms64m -Xmx64m"
    ports:
      - "127.0.0.1:9200:9200"
  mongo:
    image: bitnami/mongodb:3.6.11
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=example
    ports:
      - "127.0.0.1:27017:27017"
